<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>PlexusOne Desktop</string>
    <key>CFBundleDisplayName</key>
    <string>PlexusOne Desktop</string>
    <key>CFBundleIdentifier</key>
    <string>com.plexusone.desktop</string>
    <key>CFBundleVersion</key>
    <string>0.4.0</string>
    <key>CFBundleShortVersionString</key>
    <string>0.4</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>PlexusOneDesktop</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
</dict>
</plist>
